{% macro content_title(article, independent) -%}
	<section class="body">
		<article>

			{% if independent == true %}
			<header id="article_title">
			{% else %}
			<header id="article_title" class="hidden">
			{% endif %}
				<div class="left">
					<h1 class="entry-title">
						<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
							title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
					</h1>
				</div>

				<div class="right">

					<div class="flexColumn invisibleDiv">
						<div class="flexRow invisibleDiv">
							<div class="datacontainer flexCenter" title="{{ article.date.isoformat() }}">
								{{ article.month }}
							</div>
							<div class="datacontainer flexCenter">
								{{ article.day }}
							</div>
						</div>

						<div class="datacontainer flexCenter">
							{{ article.year }}
						</div>
					</div>

					<div class="flexCenter">
						[tags placeholder]
					</div>
				</div>

			</header>
		</article>
	</section>
{%- endmacro %}