{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  {{ super() -}}
  {% if article.summary %}
    <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}


{% block content %}

{% from 'macros/titlebar.html' import content_title %}
{{ content_title(article, true, "article") }}

  <article id="content" class="body">
    <section class="content_section">
      <div class="section-item body">
        
        {{ article.content }}
      </div><!-- /.entry-content -->
    </section>
  </article>
{% endblock %}
