{% extends "base.html" %}

{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
    <div id="test" class="flexColumn">
        {% for article in articles_page.object_list %}

        {# First item #}
            {% if loop.first and not articles_page.has_previous() %}
                <aside id="featured" class="body">
                    {% from 'article_title.html' import content_title %}
                    {{ content_title(article, false) }}
                    <article>
                        <!-- <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> -->
                        {{ article.summary }}
                    </article>
                </aside><!-- /#featured -->

                {% if loop.length > 1 %}
                {% endif %}
                
        {# other items #}
            {% else %}

                <aside id="featured" class="body">
                    {% from 'article_title.html' import content_title %}
                    {{ content_title(article, false) }}
                    <article>
                        <!-- <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> -->
                        {{ article.summary }}
                    </article>
                </aside><!-- /#featured -->


            {% endif %}
            
        {% endfor %}
    {% endif %}

    </div>
{% endblock content %}
