{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}


{% block content %}

{% include 'page_title.html' %}

  <section id="content" class="body">
    <div class="entry-content">
      
      {{ page.content }}
    </div><!-- /.entry-content -->
      
  </section>
{% endblock %}
