{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}


{% block content %}

{% from 'macros/titlebar.html' import content_title %}
  <!-- {{ content_title(page, true, "page") }} -->


  <page id="project" class="body">

  {% if articles %}

    {% from 'indexitem.html' import indexitem %}
    <div class="flexColumn">

      <div>{{ page.title }} blog posts</div>
    
      {% for article in articles %}
        {% if article.tags -%}
          {% for tag in article.tags %}
            {% if tag == page.title -%}

              {{ indexitem(article) }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

    <section class="content_section">

      <div class="section-item body">

        <a class="titleLink" href="../{{ page.url }}"><div id="nameContainer"><h1>{{ page.title }}</h1></div></a>
        
        {{ page.content }}
      </div><!-- /.entry-content -->
    </section>

  </page>

{% endblock %}


