<div id="sideBar">
    <div id="siteName">
        <a class="titleLink" href="{{ SITEURL }}/"><div id="nameContainer"><h1>LarkBarks</h1></div></a>
        <div id="socialContainer">
            <h2>Violet Lark</h2>

            <div id="socials">
                <div class="gh-icon"></div>

                {{ lucide("mail") }}
            </div>
        </div>

        <div id="fullSocial">
            <h2>Violet Lark</h2>

            <div id="socials">
                <a href="https://github.com/CatKhakis">
                    <div class="gh-icon"></div>
                    <h3>@CatKhakis</h3>
                </a>
                
                <a href="mailto:violet@larkbarks.com">
                    {{ lucide("mail") }}
                    <h3>violet@larkbarks.com</h3>
                </a>
            </div>
        </div>
    </div>
    <nav id="siteIndex">
        <div>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}

            <a class="titleLink" href="{{ SITEURL }}/"><div id="nameContainer"><h2>Projects</h2></div></a>
            {% for pg in pages %}
                {% if pg.tags -%}
                    {% for tag in pg.tags %}
                        {% if tag == "Project" -%}
                            <li{% if pg==page %} class="active" {% endif %}>
                                <a href="{{ SITEURL }}/{{ pg.url }}">
                                    {% if pg.icon -%}
                                        {{ lucide( pg.icon ) }}
                                    {% endif %}
                                    {{ pg.title}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}


            <a class="titleLink" href="{{ SITEURL }}/"><div id="nameContainer"><h2>Blog Posts</h2></div></a>
            {% for cat, null in categories %}
                <li{% if cat==category %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{cat }} × {{ null | length }}</a></li> 
            {% endfor %}

        </div>
    </nav>

    <div id="staticIndex">
        
        <li><a href="{{ SITEURL }}/pages/zoeys-refsheet.html">Zoey's Refsheet</a></li>

    </div>

    {% from 'macros.html' import polaroid, clean_break %}
    {{ polaroid("images/zoey/xxangelgutzxx.png", "gallery", "30% 50%", true, "small") }}

    <div id="whiteSpace"></div>

    <div id="zoeyHome">
        <p>© 2025 Zoey - Violet Lark</p>
    </div>
</div>