

#leftContent {
    flex-grow: 1;

    display: flex;
    justify-content: center;
}

#centerContent {

    width: 900px;
}

#rightContent {
    flex-grow: 1;
}

#cardHolder {
    width: 300px;
    height: 450px;

    pointer-events: auto;

    visibility: collapse;
    width: 0px;
}

#businessCard {
    margin: 50px !important;

    width: 200px;
    height: 350px;

    pointer-events: none;
}

.debossed {
    background-color: #e39f33;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.3) 0px 2px 2px;
}

.gold {
    color: #DEAB5A;
}

.insideBox {
    padding: 10px;
}

.squareRatio{
    width: 100%;
    aspect-ratio : 1 / 1;
}

#logo {
    width: 100%;
    aspect-ratio : 1 / 1;

    background-color: #e39f33;
    border-radius: 50%;
}

#card-info {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

#social-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.classname {
  animation-name: cssAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

#front, #back {

    width: 180px;
    height: 330px;

    position: absolute;
}

#back {
    visibility: hidden;
}

#shadeSelector {
    width: fit-content;

    position: fixed;

    right: 0;

    margin: 15px;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;

    pointer-events: auto;
}

#shadeSelector div {
    width: fit-content;
    height: fit-content;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    justify-content: center;

    pointer-events: auto;
}

#shadeSelector svg {
    stroke-width: 2.5;

    pointer-events: none;
}

.frappe.selectedShade, .macchiato.selectedShade {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.latte.selectedShade  {
    margin-bottom: 2.5px;
}

.mocha.selectedShade {
    margin-top: 2.5px;
}



#article_title {
    display: flex;

    gap: 1em;

    margin-bottom: 1em;

    height: 65px;
}

#article_title div {
    border-radius: 10px;
}

#article_title .left {
    flex-grow: 2;

    display: flex;
    justify-content: left;
    align-items: center;
    
    padding: 0.5px;
    padding-left: 20px;
}

#article_title.hidden .left {
    padding-left: 0px;
}

#article_title .left * {
    margin-bottom: 0px;
}

#article_title .right {
    padding: 5px;

    display: flex;
    flex-direction: row;

    gap: 3px;
}
#article_title .right p {
    margin-top: 1px;
    margin-bottom: 1px;
}



#article_title div.datacontainer {
    border-radius: 5px;

    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

.flexRow {
    display: flex;

    flex-direction: row;
    gap: 3px;
}

.flexColumn {
    display: flex;

    flex-direction: column;
    gap: 3px;
}

.flexCenter {
    display: flex;

    align-items: center;
    justify-content: center;
}

.colordisplay div {
    width: 35px;
    height: 35px;
    border-radius: 100%;

    margin: 5px;
    margin-right: 10px;
}

.colordisplay h5 {
    align-self: center;
    margin: 0;
}

#featured {
    padding-top: 10px !important;
}
