.flexRow {
    display: flex;
    flex-direction: row;
}

#leftContent {
    flex-grow: 1;

    display: flex;
    justify-content: center;
}

#centerContent {

    width: 800px;
}

#rightContent {
    flex-grow: 1;
}

#cardHolder {
    width: 300px;
    height: 450px;

    pointer-events: auto;
}

#businessCard {
    margin: 50px !important;

    width: 200px;
    height: 350px;

    pointer-events: none;
}

.debossed {
    background-color: #e39f33;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.3) 0px 2px 2px;
}

.gold {
    color: #DEAB5A;
}

.insideBox {
    padding: 10px;
}

.squareRatio{
    width: 100%;
    aspect-ratio : 1 / 1;
}

#logo {
    width: 100%;
    aspect-ratio : 1 / 1;

    background-color: #e39f33;
    border-radius: 50%;
}

#card-info {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

#social-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.classname {
  animation-name: cssAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

#front, #back {

    width: 180px;
    height: 330px;

    position: absolute;
}

#back {
    visibility: hidden;
}

#shadeSelector {
    width: fit-content;

    position: fixed;

    right: 0;

    margin: 15px;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;

    pointer-events: auto;
}

#shadeSelector div {
    width: fit-content;
    height: fit-content;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    justify-content: center;

    pointer-events: auto;
}

#shadeSelector svg {
    stroke-width: 2.5;

    pointer-events: none;
}

.frappe.selectedShade, .macchiato.selectedShade {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.latte.selectedShade  {
    margin-bottom: 2.5px;
}

.mocha.selectedShade {
    margin-top: 2.5px;
}
