.indexItem {
    background: var(--surface0);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface0) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface0) h s l), black 70%);

    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 760px;

    border-radius: 10px;
}

.indexItem article {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.indexItem .indexRow:first-child {
    display: flex;

    justify-content: space-between;

    margin-bottom: 5px;
}

.indexTags {

    display: flex;

    gap: 5px;

    justify-content: flex-start;
}

article .indexTags {
    margin-bottom: 10px;
}

.indexItem.indexTags {

    width: fit-content;
}

.indexItem img {

    height: 250px;
    aspect-ratio: 1;
    
    object-fit: cover;
    object-position: center;
}

.entry-title {
    font-size: 3em; 
    margin-bottom: 0; 
    margin-top: 0;
    margin-right: 25px;

    text-wrap: nowrap;

    height: min-content;
    width: fit-content;
}

.entry-title a:link, .entry-title a:visited {
    color: var(--ctp-latte-yellow);
}

.entry-title a:link, .entry-title a:hover {
    text-decoration: none;
    background-color: transparent;
}

.entry-title:hover, .entry-title a:hover {
    color: var(--surface0);
    background-color: var(--ctp-latte-yellow);
    border-radius: 5px;
}

.indexRow #date {
    height: auto;
}

.indexRow {
    display: flex;
}

.indexRow img {
    margin-right: 15px;
}

.indexRow p {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.tag:link, .tag:visited {
    min-width: 0;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--red);
    box-shadow: 
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--red) h s l), black 60%);

    filter: 
    drop-shadow(0px 1px 1px color-mix(in hsl, hsl(from var(--surface0) h s l), black 25%));

    padding: 5px;

    gap: 3px;

    border-radius: 5px;

    color: var(--crust);

    text-decoration: none;
}

.tag svg {
    stroke: var(--crust);
}

.tag:hover {
    background: var(--crust);
    box-shadow: 
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--crust) h s l), black 60%);

    color: var(--red);
}

.tag:hover svg {
    stroke: var(--red);
}

.category:link, .category:visited {
    background: var(--blue);
    box-shadow: 
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--blue) h s l), black 60%);
}

.category:hover {
    background: var(--crust);
    box-shadow: 
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--crust) h s l), black 60%);

    color: var(--blue);
}

.category:hover svg {
    stroke: var(--blue);
}




