#project.body {
    max-width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-left: 50px;
    margin-right: 50px;

    gap: 40px;
}

#project .flexColumn {

    min-width: 400px;
    max-width: 700px;

    width: 100%;
}


#project .content_section {
    display: flex;
    flex-direction: column;

    min-width: 385px;
    max-width: 525px;
}

#project .section-item {
    padding: 0px;
}

#project .body {
    padding: 20px;
}

#project .indexItem {
    width: 100%;

    padding: 0px;
} 

#project .indexItem article  {

    padding: 20px;
} 


#project .titleLink {
    text-decoration: none;
    display: flex;

    padding: 0;
}

#project .titleLink:hover {
    background: none;
}

#project .titleLink h1{
    color: var(--ctp-latte-yellow);
    font-weight: bold;
}

#project .titleLink:hover h1 {
    color: var(--surface0);
}


#nameContainer {

    width: 100%;

    border-radius: 10px;

    background: var(--surface1);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface1) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface1) h s l), black 60%),
    0px 4px 8px color-mix(in hsl, hsl(from var(--surface1) h s l), black 30%);

    display: flex;

    padding: 10px;

    
}

a:hover #nameContainer {

    background: var(--ctp-latte-yellow);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--ctp-latte-yellow) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--ctp-latte-yellow) h s l), black 60%),
    0px 4px 8px color-mix(in hsl, hsl(from var(--surface1) h s l), black 30%);

    color: var(--surface1);
}


#project h1, h2 {

    margin: 0;
    color: var(--ctp-latte-yellow);
}

/* #project h1 {
    font-size: 3.571em;
    line-height: 1.0;

    text-align: center;
} */

#project .body p:first-child {
    margin-top: 0px;
}