

#sideBar{
    
    min-width: 310px;
    max-width: 350px;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    position: fixed;

    margin-left: 40px;
    margin-right: 40px;
}

#nameContainer {

    width: 100%;

    border-radius: 10px;

    background: var(--surface1);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface1) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface1) h s l), black 60%),
    0px 4px 8px color-mix(in hsl, hsl(from var(--surface1) h s l), black 30%);

    display: flex;

    padding: 10px;

    
}

a:hover #nameContainer {

    background: var(--ctp-latte-yellow);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--ctp-latte-yellow) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--ctp-latte-yellow) h s l), black 60%),
    0px 4px 8px color-mix(in hsl, hsl(from var(--surface1) h s l), black 30%);

    color: var(--surface1);
}

#nameContainer:not(:first-child) {
    margin-top: 15px;
}

#sideBar a:hover {
    background: none;
}

/*------------- site name -------------*/

#siteName {
    width: 100%;

    height: 140px;

    margin-top: 20px;
    margin-bottom: 40px;

    border-radius: 10px;

    background: var(--surface0);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface0) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface0) h s l), black 60%);

    transition: 
        height .25s ease-in-out,
        margin-bottom .25s ease-in-out
        ;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#siteName a {
    display: flex;
}

#siteName .hoverBar {
    height: 20px;
}

#siteName:hover {
    margin-bottom: 20px;

    height: 225px;
}

#siteName svg {
    height: 32px;
    width: 32px;

    color: var(--text);
}

#github path {

    fill: var(--text);
}

/*-------- h1 --------*/

#siteName #nameContainer {

    align-items: center;
    justify-content: center;
}

#socialContainer {

    padding: 8px 15px 0px 15px;

    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    justify-content: space-between;

    gap: 6px;

    overflow: hidden;
}

#siteName:hover #socialContainer {
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
}

#socialContainer h3 {
    display: none;
}

#siteName:hover #socialContainer h3 {
    display: block;
    
}

#siteName h3 {

    margin: 0;
}

#socialContainer a {
    margin-bottom: 0px;

    display: flex;
    gap: 8px;

    align-items: center;
}

#socialContainer .fullName {
    flex-grow: 1;

    min-height: 32px;

    display: flex;
    
    align-items: center;
}

#siteName:hover .fullName  {
    flex-grow: 0;
}



/*------------- site index -------------*/

#siteIndex {
    width: 100%;

    border-radius: 10px;

    background: var(--surface0);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface0) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface0) h s l), black 60%);

    padding-bottom: 5px;

    margin-bottom: 20px;
}

#sideBar li{
    
    margin: 0.4em 0.6em 0.4em 0.6em;

    font-size: 1.3em;

    list-style-type: none;
}

#siteIndex a {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    gap: 8px;
}

#sideBar li a:link, #sideBar li a:visited{

    color: var(--text);
    text-decoration: none;
}

#sideBar li a:hover{

    color: var(--red);
    text-decoration: none;
}


/*------------- static index -------------*/

#staticIndex {

    width: 100%;

    border-radius: 10px;

    background: var(--surface0);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface0) h s l), white 20%),
    inset 0px -1px 4px color-mix(in hsl, hsl(from var(--surface0) h s l), black 60%);

    margin-bottom: 20px;
}


/*------------- white space -------------*/

#whiteSpace {
    flex-grow: 1;
}


/*------------- zoey home -------------*/

#zoeyHome {
    width: 100%;
    height: 55px;

    border-radius: 20px 20px 0px 0px;

    background: var(--surface0);
    box-shadow: 
    inset 0px 1px 3px color-mix(in hsl, hsl(from var(--surface0) h s l), white 20%);

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    margin-top: 150px;

    transition: height 0.25s;
}

#zoeyHome:hover {
    height: 75px;
}

#zoeyHome p {
    padding: 16px 16px 0px 16px;
    margin: 0px;
}

.hoverBar {
    height: 100%;

    min-height: 20px;
    max-height: 50px;

    padding: 0px 16px 0px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#zoeyHome:hover .hoverBar {
    
    flex-direction: row;
    justify-content: space-between;
}

.hoverBar div {
    width: 100px;
    height: 3px;

    background: var(--surface2);
}

#zoeyHome .hoverBar p {
    padding: 0px;
    margin: 0px;

    display: none;
}

#zoeyHome .hoverBar a {
    display: inline;
}

#zoeyHome:hover .hoverBar p {
    display: block;
}

#zoeyHome:hover .hoverBar div {
    display: none;
}






#siteName h1, h2 {

    margin: 0;
    color: var(--ctp-latte-yellow);
}

#siteName h1 {
    font-size: 3.571em;
    line-height: 1.0;

    text-align: center;
}

#sideBar .titleLink {
    text-decoration: none;

    padding: 0;
}

#sideBar .titleLink h1, #sideBar .titleLink h2 {
    color: var(--ctp-latte-yellow);
    font-weight: bold;
}

#sideBar .titleLink:hover h1, #sideBar .titleLink:hover h2 {
    color: var(--surface0);
}

.gh-icon {
    width: 32px;
    height: 32px;

  background: var(--text);
  mask-image: url("../../images/logos/github-brands-solid-full.svg");
  mask-image: url("../../images/logos/github-brands-solid-full.svg");
} 
