
#shadeSelector {
    width: fit-content;

    position: fixed;

    right: 0;

    margin: 15px;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;

    pointer-events: auto;
}

#shadeSelector div {
    width: fit-content;
    height: fit-content;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    justify-content: center;

    pointer-events: auto;
}

#shadeSelector svg {
    stroke-width: 2.5;

    pointer-events: none;
}

.frappe.selectedShade, .macchiato.selectedShade {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.latte.selectedShade  {
    margin-bottom: 2.5px;
}

.mocha.selectedShade {
    margin-top: 2.5px;
}
