#cardHolder {
    width: 300px;
    height: 450px;

    pointer-events: auto;

    visibility: collapse;
    width: 0px;
}

#businessCard {
    margin: 50px !important;

    width: 200px;
    height: 350px;

    pointer-events: none;
}

.debossed {
    background-color: #e39f33;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.3) 0px 2px 2px;
}

.gold {
    color: #DEAB5A;
}

.insideBox {
    padding: 10px;
}

.squareRatio{
    width: 100%;
    aspect-ratio : 1 / 1;
}

#logo {
    width: 100%;
    aspect-ratio : 1 / 1;

    background-color: #e39f33;
    border-radius: 50%;
}

#card-info {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

#social-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.classname {
  animation-name: cssAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

#front, #back {

    width: 180px;
    height: 330px;

    position: absolute;
}

#back {
    visibility: hidden;
}

#shadeSelector {
    width: fit-content;

    position: fixed;

    right: 0;

    margin: 15px;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;

    pointer-events: auto;
}

#shadeSelector div {
    width: fit-content;
    height: fit-content;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    justify-content: center;

    pointer-events: auto;
}

#shadeSelector svg {
    stroke-width: 2.5;

    pointer-events: none;
}

.frappe.selectedShade, .macchiato.selectedShade {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.latte.selectedShade  {
    margin-bottom: 2.5px;
}

.mocha.selectedShade {
    margin-top: 2.5px;
}

.flexRow {
    display: flex;

    flex-direction: row;
    gap: 3px;
}

.flexColumn {
    display: flex;

    flex-direction: column;
    gap: 3px;
}

.flexCenter {
    display: flex;

    align-items: center;
    justify-content: center;
}

.colordisplay div {
    width: 35px;
    height: 35px;
    border-radius: 100%;

    margin: 5px;
    margin-right: 10px;
}

.colordisplay h5 {
    align-self: center;
    margin: 0;
}

#featured {
    padding-top: 10px !important;
}





.polaroid_stack {
    position: relative;
}

.polaroid {
    position: absolute;
    transition: 0.2s;
}

.polaroid:hover {
    transition: 0.2s;
    transform: rotate(2deg);
}

.polaroid_image {
    padding-bottom: 0;
}

.polaroid_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.polaroid_image img {
    object-fit: cover;
}

.polaroid_text * {
    margin: 0;

    font-family: 'Gaegu';
    font-weight: bold;
    font-style: normal;
}







.polaroid_stack.small {
    width: 175px;
    height: 210px;
    margin: 30px;
}

.polaroid_stack.small .polaroid {
    width: 175px;
    height: 210px;
}

.polaroid_stack.small .polaroid_image {
    padding: 10px;
}

.polaroid_stack.small .polaroid_text {
    height: 45px;
}

.polaroid_stack.small .polaroid_image img {
    width: 155px;
    height: 155px;
}




.polaroid_stack.medium {
    width: 262.5px;
    height: 315px;
    margin: 30px;
}

.polaroid_stack.medium .polaroid {
    width: 262.5px;
    height: 315px;
}

.polaroid_stack.medium .polaroid_image {
    padding: 15px;
}

.polaroid_stack.medium .polaroid_text {
    height: 67.5px;
}

.polaroid_stack.medium .polaroid_image img {
    width: 232.5px;
    height: 232.5px;
}







.polaroid_stack.large {
    width: 350px;
    height: 420px;
    margin: 40px;
}

.polaroid_stack.large .polaroid {
    width: 350px;
    height: 420px;
}

.polaroid_stack.large .polaroid_image {
    padding: 20px;
}

.polaroid_stack.large .polaroid_text {
    height: 90px;
}

.polaroid_stack.large .polaroid_image img {
    width: 310px;
    height: 310px;
}



#contentinfo {
    padding-bottom: 0em; text-align: right;
}



/*
	About
*****************/
#about {
    font-style: normal;
    margin-bottom: 0em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    max-width: 1200px;

    bottom: 0;

    border-radius: 10px 10px 0 0;
}

#banner {
    width: 1200px;
}