.debossed {
    background-color: #e39f33;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.3) 0px 2px 2px;
}

.gold {
    color: #DEAB5A;
}


#card-info {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

#social-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.classname {
  animation-name: cssAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

#front, #back {

    width: 180px;
    height: 330px;

    position: absolute;
}

#back {
    visibility: hidden;
}

.flexRow {
    display: flex;

    flex-direction: row;
    gap: 3px;
}

.flexColumn {
    display: flex;

    flex-direction: column;
    gap: 3px;
}

.flexCenter {
    display: flex;

    align-items: center;
    justify-content: center;
}

.colordisplay div {
    width: 35px;
    height: 35px;
    border-radius: 100%;

    margin: 5px;
    margin-right: 10px;
}

.colordisplay h5 {
    align-self: center;
    margin: 0;
}

#featured {
    padding-top: 10px !important;
}

#contentinfo {
    padding-bottom: 0em; text-align: right;
}



/*
	About
*****************/
#about {
    font-style: normal;
    margin-bottom: 0em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    max-width: 1200px;

    bottom: 0;

    border-radius: 10px 10px 0 0;
}

#banner {
    width: 1200px;
}

.iconTag {
    height: 130px;
}

:root {
    overscroll-behavior: none;
    overscroll-behavior-y: none;
}

img {
    border-radius: 10px;
}

img.smallImg {
    width: 400px;
}

#zoey {
    filter:
      drop-shadow(0px 9px hsla(0, 0%, 0%, 0.2))
      drop-shadow(0px 6px hsla(0, 0%, 0%, 0.1))
      drop-shadow(0px 3px hsla(0, 0%, 0%, 0.2));
}